/* 
folha de estilo do Site Halloween 
*/

/* Importação* Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

/* Reset*/
* {
    margin: 0;
    border: 0;
    padding: 0;
}


body {
    font-family: "Archivo Black", sans-serif;
    font-size: 1rem;
}

/* Layout */
.container {
    margin: 0 auto;
    background-color: #a83830;
}

/* Topo do Site*/
#topo {
    position: fixed;
    right: 10px;
    bottom: 10px;

}

/*smartphone portrait*/

/* smartphone landscape*/
/* essas são as resoluções */
@media (min-width: 576px) {
    body {
        background-color: #a83830;
        /* para celular */
    }

    /* layout */
    .container {
        max-width: 540px;
    }
}

/* tablete portrait*/
@media (min-width: 768px) {
    body {
        background-color: #a83830;
    }

    /* layout */
    .container {
        max-width: 720px;
    }
}

/* tablete landscape*/
/* resoluções mais antigas */
@media (min-width: 992px) {
    body {
        background-color: #a83830;
    }

    /* layout */
    .container {
        max-width: 960px;
    }
}

/* Pc*/
@media (min-width: 1200px) {
    body {
        background-color: #a83830;
    }

    /* layout */
    .container {
        max-width: 1140px;
    }
}